.panda-bg-info{
	background-color: #fceae8 !important;
}
.categories img{

	width: 100px;
}

.panda-btn-buy-now{
	background-color: #f64e75;
    background-image: linear-gradient(to bottom, #f64e75 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
}